.cell {
  /* border: 1px solid black; */
  text-align: center;
  padding-bottom: 20px;
}

.imgs {
  position: relative;
  width: 300px;
  height: 300px;
}

.un,
.deux {
  width: 100%;
  height: 100%;
  object-fit: cover;
  display: block;
}

.deux {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.imgs:hover .deux {
  opacity: 1;
}


.heading{
    text-align: center;
    padding-top: 10px;
}

.name{
    text-decoration: none;
    color: black;
}

.name:visited {
  text-decoration: none;
  color: black;
}