/* .section {
  position: relative;
  padding: 30px 0;
  max-width: 100%;
  overflow: hidden;
} */

.sectionName {
  font-size: 30px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
  font-style: italic;
  letter-spacing: 0.64px;
  text-align: center;
  margin-bottom: 20px;
}

/* .list-wrapper {
  position: relative;
  overflow: hidden;
  padding: 0 50px; /* space for arrows */
/* } */

.section {
  position: relative;
  padding: 30px 0;
  width: 100%;
  max-width: 100%;
  overflow: hidden; /* prevents outer scroll */
}

.list-wrapper {
  cursor: grab;
  user-select:none;
  width: 100%;
  overflow-x: auto; /* horizontal scroll only */
  -webkit-overflow-scrolling: touch; /* smooth scroll on iOS */
}

.list-wrapper:active{
  cursor: grabbing;
}

.list {
  display: flex;
  gap: 30px;
  padding: 10px 40px;
  width: max-content;
  scroll-snap-type: x mandatory;
  scroll-behavior: smooth;
}

/* .list::-webkit-scrollbar {
  display: none;
} */

.item {
  flex-shrink: 0;
  min-width: 200px;
  min-height: 300px;
  border-radius: 15px;
  scroll-snap-align: center;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item img {
  width: 50%;
  /* height: 100%; */
  height: auto;
  border-radius: 15px;
  display: block;
}

.content {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
}

.overlay {
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 15px;
  text-align: center;
  z-index: 1;
}

.overlay h1 {
  font-size: 24px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: lighter;
  letter-spacing: 0.64px;
}

.overlay span {
  font-size: 16px;
  text-decoration: underline;
  cursor: pointer;
}

.learnMore {
  display: none;
  position: absolute;
  top: 0; left: 0; right: 0; bottom: 0;
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  font-family: 'Times New Roman', Times, serif;
  font-size: 16px;
  padding: 20px;
  border-radius: 15px;
  z-index: 2;
  overflow-y: auto;
  align-items: center;
  justify-content: center;
}

.learnMore ul {
  padding-left: 20px;
}

.bulletPoint {
  margin-bottom: 10px;
}

.button {
  position: absolute;
  top: 55%;
  transform: translateY(-50%);
  background-color: rgba(0, 0, 0, 0.4);
  border: none;
  color: white;
  padding: 12px 16px;
  font-size: 24px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}

.button--previous {
  left: 0;
}

.button--next {
  right: 0;
}
