.tableau{
    border: 1px solid black;
    background-color: pink;
    width: 100%;
}

/* .quart{
    height: 50%;
    width: 50%;
    border: 1px solid black;
} */

.timeCell{
    height: 50%;
    width: 5%;
    border: 1px solid black;

}